#Mario{
    border-color: rgb(104, 207, 104);
    border-style: solid;
    background-color: green;
    font-family: 'Harry Potter', sans-serif;
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/283febae-674c-4849-a834-cc787b85e43b/d45y2up-d13ef416-b346-4473-bbdd-6555edb69f3e.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzI4M2ZlYmFlLTY3NGMtNDg0OS1hODM0LWNjNzg3Yjg1ZTQzYlwvZDQ1eTJ1cC1kMTNlZjQxNi1iMzQ2LTQ0NzMtYmJkZC02NTU1ZWRiNjlmM2UuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.9ZpK47_jeQV_WlT5y-3BNNnEdFlsRE9_tc1m1fiCFSk");
}

#Raymond{
    border-color: rgb(113, 113, 211);
    border-style: solid;
    background-color: orange;
}

#Alan{
    border-color: rgb(228, 154, 228);
    border-style: solid;
    background-color: aqua;
   
}

img{
    border-radius: 50%;
}

div{
    padding: 25px;
    box-shadow: beige;
}

li{
    margin: 10px;
    font-style: italic;
}

body{
    background-image: url("https://lumiere-a.akamaihd.net/v1/images/sa_pixar_virtualbg_coco_16x9_9ccd7110.jpeg");
}

#MarioList{
    text-align: center;
    list-style: none;
    font-style: normal;
}

b{
    font-size: 40px;
}

p{
    font-size: 25px;
}


#info{
    text-align: center;
}